<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.charlezz.cameraxdemo">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".CameraPage"></activity>
        <activity android:name=".DistsancePage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ExecBeforePageActivity">

        </activity>
        <activity android:name=".ExecutionPage">
        </activity>
        <activity android:name=".EyePage"></activity>
        <activity android:name=".JoinPage">

        </activity>
        <activity android:name=".LoginPage">

        </activity>
        <activity android:name=".MainActivity2"></activity>
        <activity android:name=".MainActivity">

        </activity>
        <activity android:name=".exerciseCamera">

        </activity>
        <activity android:name=".exerciseCamera_left">

        </activity>
        <activity android:name=".exerciseCamera_right"></activity>

        <activity android:name=".ClosePage"></activity>

        <activity android:name=".step4_record">

        </activity>
        <activity android:name=".audioRecord"
            android:theme="@style/Theme.AppCompat.Light.Dialog"
            />
        <activity android:name=".LoadingPage">

        </activity>
        <activity android:name=".videoList">
        </activity>

        <activity android:name=".AlarmTest">

        </activity>

        <activity android:name=".PlayVideo1"
            android:screenOrientation="landscape"/>
        <activity android:name=".PlayVideo2"
            android:screenOrientation="landscape"/>
        <activity android:name=".PlayVideo3"
            android:screenOrientation="landscape"/>
        <activity android:name=".PlayVideo4"
            android:screenOrientation="landscape"/>

    </application>

</manifest>